---
layout: default
---

<h1 class="title has-text-weight-medium has-text-centered">{{page.title}}</h1>

<div class="has-text-centered">
{% if page.author %}
<span class="post-author">Posted by {{page.author}}</span>
{% endif %} &nbsp;&nbsp;
<time class="post-date" datetime="{{ page.date | date_to_xmlschema }}">Posted on - {{ page.date | date_to_string }}</time>
</div>

<hr>

{{content}}

<br>
<hr>
<p class="has-text-centered is-small">
<a rel="nofollow noreferrer noopener" target="_blank" href="https://api.whatsapp.com/send?text={{ page.title | strip_html | url_encode | replace: '+', '%20' }}{{ site.url }}{{ page.url }}" class="button is-success is-rounded"><i class="fab fa-whatsapp"></i></a>
<a rel="nofollow noreferrer noopener" target="_blank" href="https://telegram.me/share/url?url={{ site.url }}{{ page.url }}&text={{ page.title | strip_html | url_encode | replace: '+', '%20' }}" class="button is-link is-rounded"><i class="fab fa-telegram-plane"></i></a>
<a rel="nofollow noreferrer noopener" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="button is-primary is-rounded"><i class="fab fa-facebook-f"></i></a>
<a rel="nofollow noreferrer noopener" target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title | strip_html | url_encode | replace: '+', '%20' }}&amp;url={{ site.url }}{{ page.url }}" class="button is-info is-rounded"><i class="fab fa-twitter"></i></a>
</p>
<hr>